# Documents
/docs/_*
/docs/*.log

# Cache
*__pycache__*

# Debug logs
**/debug/*

# Builds
/build/*
/dist/*
*egg-info*

# Settings
/setup.cfg

# Star catalogues
tetra3/BSC5*
tetra3/hip_main.dat
tetra3/tyc_main.dat

# Databases except the default
*.npz
!**/default_database.npz
